{% extends 'base.html' %}

{% block content %}
<h1>Feeds</h1>

<div class="row">

<div class="col-sm-12" style="margin-bottom:15px">
<span style="float:right;">
{% for i in feeds  %}
<a class="btn btn-{{ i.color }}" href="{{ i.url }}" target="_NEW">
  <i class="fa fa-{{ i.type }}"></i> {{ i.name }}
</a>
{% endfor %}
<!-- <a class="btn btn-warning" href="{{ feed_url }}" target="_NEW">
  <i class="fa fa-rss-square"></i> RSS
</a>
 --></span>
</div>

</div>

<div class="row" id="feed-items">

{# FIXME: needs some refactoring/rethinking #}
{% for i in items %}
  <div class="col-sm-12" style="margin-bottom:15px">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="fa fa-{{ i.link|feed_icon }} fa-lg"></i> {{ i.title }}</h5>
        <p>{{ i.published|parse_date }}</p>
        <p class="feed-item-content">{{ i.content.0.value|safe }}</p>
        <p><a href="{{ i.link }}" class="btn btn-primary">Go to post</a></p>
      </div>
    </div>
  </div>
{% endfor %}

</div>
{% endblock %}
