{% extends 'base.html' %}

{% block content %}
<div class="starter-template text-light">
<div class="container">
  <div class="row">
        <div class="col-md-6">
        {{ html|safe }}
        <hr />
        </div>
        <div class="col-md-6">
        {% if not session.username %}
        <a href="/login"><button class="btn btn-primary" type="submit">Log In</button></a>
        <br /><br />
        <p>If you do not have an account, click <a href="/subscribe">here</a> to join.</p>
        <p class="small">You may also request access through your site administrator.</p>
        {% else %}
        <div style="text-align:left">

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">
  <div class="carousel-inner">
    {% for i in carousel_items %}
    <div class="carousel-item  {% if i.2 %}active{% endif %}">
        <h4>{{ i.0 }}</h4>
        {{ i.1|safe }}
    </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" style="top:auto;bottom:auto;">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" style="top:auto;bottom:auto;">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

        </div>
        {% endif %}
        </div>
  </div>
</div>
</div>
{% endblock %}
