{% extends 'base.html' %}

{% block content %}
      <div class="starter-template text-light">
        {{ html|safe }}
        {% if not session.username %}
        <a href="/login"><button class="btn btn-primary" type="submit">Log In</button></a>
        <br /><br />
        <p>If you do not have an account, click <a href="/subscribe">here</a> to subscribe.</p>
        <p class="small">You may also request access through your site administrator.</p>
        {% endif %}
<!--         <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
 -->      </div>
{% endblock %}
