body {
  padding-top: 5rem;
  /*background-image: url("http://localhost:5000/static/img/bg-masthead.jpg");*/
}
.home-body-image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://chicago-monk.s3.amazonaws.com/benedict.jpg");
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.card-body img {max-width:50%;height:auto;float:right;margin-left:15px}
